In [2]:
%load_ext sql

In [3]:
%sql mysql+pymysql://root:password@localhost:3306/Titanic

(pymysql.err.OperationalError) (1049, "Unknown database 'Titanic'")
(Background on this error at: https://sqlalche.me/e/14/e3q8)
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [ ]:
%sql mysql+pymysql://root:password@localhost:8080/Titanic