In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("british-library-books.csv")
to_drop = [
    "Edition Statement",
    "Corporate Author",
    "Corporate Contributors",
    "Former owner",
    "Engraver",
    "Contributors",
    "Issuance type",
    "Shelfmarks",
    "Flickr URL"
]

df.drop(columns=to_drop, inplace=True)
df.head()

,Identifier,Place of Publication,Date of Publication,Publisher,Title,Author
0,206,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.
1,216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A."
2,218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A."
3,472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S."
4,480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S."

In [3]:
df["Identifier"].is_unique

True

In [4]:
df.set_index("Identifier", inplace=True)
df.head()

,Place of Publication,Date of Publication,Publisher,Title,Author
Identifier,,,,,
206,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.
216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A."
218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A."
472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S."
480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S."

In [5]:
df.loc[206:, "Date of Publication"].head(10)

Identifier
206     1879 [1878]
216            1868
218            1869
472            1851
480            1857
481            1875
519            1872
667             NaN
874            1676
1143           1679
Name: Date of Publication, dtype: object

In [6]:
import numpy as np

In [9]:
col = "Date of Publication"

for i in range(len(df[col])):
    current = df[col].iloc[i]
    
    if type(current) == float:
        df[col].iloc[i] = np.nan
        
    elif "." in current or '?' in current:
        df[col].iloc[i] = np.nan
        
    elif current[0] != "[" and current[-1] == "]":
        df[col].iloc[i] = np.nan
        
    elif current[0] == "[" and current[-1] != "]":
        df[col].iloc[i] = np.nan

    elif current[0] == "[" and current[-1] == "]":
        df[col].iloc[i] = current[1:5]
        
    elif "-" in current:
        df[col].iloc[i] = current [0:4]
        
    elif "," in current:
        df[col].iloc[i] = current [0:4]

df[col] = pd.to_numeric(df[col])
df[col].dtype

df["Date of Publication"].isnull().sum()/len(df)

0.11508271947832388